@model Gummybear.Models.Product


    <h2>Create</h2>
    <hr />
<div></div>
    <h4>Add a new product</h4>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)

        @Html.LabelFor(model => model.Cost)
        @Html.TextBoxFor(model => model.Cost)

        @Html.LabelFor(model => model.CountryOfOrigin)
        @Html.TextBoxFor(model => model.CountryOfOrigin)

        @Html.LabelFor(model => model.Picture, new {@class="text", type="text", required = "required" }))
        @Html.TextBoxFor(model => model.Picture)


        <input type="submit" value="add" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
</div>