@model Gummybear.Models.Product

@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>@Html.DisplayFor(model => model.Name)</h2>

    @if (Model.Picture != "")
    {
        <img id="detail-picture" src="@Html.DisplayFor(model => model.Picture)" /><br />
    }

    <hr />
    <p>@Html.DisplayNameFor(model => model.Cost): $ @Html.DisplayFor(model => model.Cost)</p>
    <p>Made in:  @Html.DisplayFor(model => model.From)</p>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ProductId })
    </p>
</div>