@model Gummybear.Models.Product
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Edit @Html.DisplayFor(model => model.Name)</h2>
    <hr />

<div class="form-group">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ProductId)

        @Html.LabelFor(model => model.Name, ViewData["attributes"])<br />
        @Html.EditorFor(model => model.Name, new { attributes = new { @class = "form-control" } })<br /><br />

        @Html.LabelFor(model => model.Cost, ViewData["attributes"])<br />
        <span>$</span>@Html.EditorFor(model => model.Cost, new { attributes = new { @class = "form-control", type="money" } })<br /><br />

        @Html.LabelFor(model => model.From, ViewData["attributes"])<br>
        @Html.EditorFor(model => model.From)<br/><br />

        @Html.LabelFor(model => model.Picture, ViewData["attributes"])<br />
        @Html.EditorFor(model => model.Picture, new { attributes = new { @class = "form-control" } })<br /><br />

        <input type="submit" value="Save" class="btn btn-info"/>
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
</div>